.selected {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding: 5px 0;
  text-align: center;
  font-size: 18px;
  background-color: #ececec;
  color: #333333;
  border-radius: 3px;
}
.selected-corner {
  position: absolute;
  right: 5px;
  top: 5px;
  transform: translate(50%, -50%);
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;
}

.selected-corner button {
  background-color: #333333;
  border: none;
  color: #e5e5e5;
  padding: 0 0.3rem;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 100%;
  border: 2px solid #fff;
}

.selected-corner button:hover {
  background-color: #fff;
  color: #333333;
  border: 2px solid #333333;
}
